@use "common/styles/mixins/_media" as media;

.catalog-wrap {
  padding: 70px 0;

  @include media.pre-media-mobile-el {
    padding: 50px 0;
  }
  @include media.media-mobile-m {
    padding: 60px 0;
  }
}

.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  @include media.pre-media-mobile-el {
    flex-direction: column;
  }
  @include media.pre-media-mobile-el {
    align-items: flex-start;
    margin-bottom: 20px;
  }
  @include media.media-mobile-m {
    margin-bottom: 10px;
  }
}

.catalog-title {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: var(--text-alpha-1);

  @include media.pre-media-tablet {
    font-size: 30px;
  }
  @include media.pre-media-mobile-el {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.catalog-tabs {
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media.media-mobile-m {
    max-width: calc(100% + 30px);
    gap: 20px;
    padding: 0 15px 10px;
    margin: 0 -15px;
    overflow-x: scroll;
  }
}

.catalog-tab-button {
  height: 43px;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-alpha-1);
  background-color: var(--bg-beta);

  @include media.pre-media-mobile-el {
    height: 41px;
    font-size: 18px;
  }
}

.catalog-tab-button.is-active {
  color: #F4F6F5;
  background-color: var(--color-alpha-1);
}

.catalog-content {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media.pre-media-tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media.media-mobile-m {
    grid-template-columns: 1fr;
  }
}

.catalog-content.is-active {
  display: grid;
}

.catalog-item {
  padding: 20px 20px 30px;
  background-color: var(--bg-alpha);
}

.catalog-item-img {
  display: block;
  width: 100%;
  margin-bottom: 21px;

  @include media.pre-media-mobile-el {
    height: auto;
    aspect-ratio: 4/5;
    margin-bottom: 16px;
  }
  @include media.media-mobile-m {
    aspect-ratio: 1/1;
  }
}

.catalog-item-author {
  display: block;
  margin: 0 0 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #86928B;

  @include media.pre-media-mobile-el {
    margin: 0 0 13px;
    font-size: 16px;
  }
}

.catalog-item-name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-alpha-1);

  @include media.pre-media-mobile-el {
    margin: 0 0 14px;
    font-size: 24px;
  }
}

.catalog-item-descr {
  margin: 0 0 33px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-alpha-1);

  @include media.pre-media-mobile-el {
    height: 49px;
    margin: 0;
    font-size: 16px;
  }
}

.catalog-item-price {
  margin: 0 0 22px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--text-beta-1);

  @include media.pre-media-mobile-el {
    margin: 0 0 12px;
    font-size: 20px;
  }
}

.catalog-item .button {
  width: 100%;

  @include media.pre-media-mobile-el {
    height: 50px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 50px;
  }
}
