@use "common/styles/mixins/_media" as media;

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-bg: #F4F6F5;
  --bg-alpha: #E1EDE6;
  --bg-beta: #D4E8D9;
  --text-alpha-1: #2C2D35;
  --text-beta-1: #598D66;
  --text-beta-2: #86928B;
  --color-alpha-1: #376B44;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--main-bg);
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @include media.pre-media-tablet {
    max-width: 730px;
  }
  @include media.pre-media-mobile-el {
    max-width: 550px;
  }
  @include media.media-mobile-m {
    padding: 0 15px;
  }
}

.button {
  padding: 0;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  transition: .3s;
}

.button-outline-green {
  padding: 0 59px;
  height: 65px;
  border: 1px solid var(--text-beta-1);
  font-weight: 500;
  font-size: 20px;
  line-height: 65px;
  letter-spacing: 0;
  color: var(--text-beta-1);

  &:hover {
    color: #F4F6F5;
    background-color: var(--text-beta-1);
  }
  &:active {
    border-color: var(--color-alpha-1);
    color: #fff;
    background-color: var(--color-alpha-1);
  }
}

.button-yellow {
  padding: 0 59px;
  height: 65px;
  font-weight: 500;
  font-size: 20px;
  line-height: 65px;
  letter-spacing: 0;
  color: var(--text-alpha-1);
  background-color: #EEDB6D;

  &:hover {
    background-color: #FAEB97;
  }
  &:active {
    background-color: #D9B949;
  }
}
