@use "common/styles/mixins/media" as media;

.team {
  padding: 70px 0;

  @include media.pre-media-tablet {
    padding: 70px 0 66px;
  }
  @include media.pre-media-mobile-el {
    padding: 50px 0 47px;
  }
  @include media.media-mobile-m {
    padding: 58px 0 91px;
  }
}

.team-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 440px;
  padding-left: calc(43% - 3px);
  padding-top: 84px;
  background-image: url('../images/team-bg.avif');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;

  @include media.media-desktop {
    padding-left: 48%;
  }
  @include media.pre-media-tablet {
    padding-left: 0;
    padding-top: 79%;
    background-position: top left;
    background-size: 74%;
  }
  @include media.pre-media-mobile-el {
    padding-top: calc(78% + 2px);
  }
  @include media.media-mobile-m {
    padding-top: calc(109% + 2px);
    background-size: 104%;
  }
}

.team-title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0;
  color: var(--text-alpha-1);

  @include media.pre-media-tablet {
    margin: 0 0 29px;
    font-size: 30px;
  }
  @include media.pre-media-mobile-el {
    margin: 0 0 19px;
    font-size: 24px;
  }
  @include media.media-mobile-m {
    margin: 0 0 20px;
  }
}

.team-descr {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--text-alpha-1);

  @include media.pre-media-tablet {
    margin: 0 0 30px;
  }
  @include media.pre-media-mobile-el {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
  @include media.media-mobile-m {
    margin: 0 0 19px;
    line-height: 138%;
  }
}

.team-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media.media-mobile-m {
    gap: 25px;
  }
}

.team-list-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
