@font-face {
  font-family: "OpenSans";
  src: url('/assets/fonts/OpenSans-Variable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

$open-sans: 'OpenSans', sans-serif;
