$media-desktop-xxl: 1920px;
$media-desktop-xl: 1440px;
$media-desktop-l: 1280px;
$media-desktop: 1200px;
$media-laptop: 1024px;
$media-tablet: 992px;
$media-tablet-m: 927px;
$media-mobile: 768px;
$media-mobile-el: 720px;
$media-mobile-l: 575px;
$media-mobile-m: 462px;
$media-mobile-s: 375px;